@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: #d9d9d9;
}

.contentBox {
  h3 {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
    color: #505050;
  }
  p {
    color: #505050;
  }
  .table-desc {
    width: 80%;
    margin: 0 auto;
  }
  table,
  th,
  td {
    border: 1px solid;
  }
  table {
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 20px;
    width: 80%;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  .top-space {
    margin-top: 20px;
  }
  ol,
  li {
    list-style-type: decimal;
    list-style-position: inside;
    color: #505050;
    padding: 10px;
  }
}
