@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: #d9d9d9;
}

.contentBox h3 {
  @apply text-xl font-semibold py-2 text-gray-700;
}

.contentBox p {
  @apply text-gray-700;
}

.contentBox .table-desc {
  @apply w-[80%] mx-auto;
}

.contentBox table,
.contentBox th,
.contentBox td {
  @apply border border-solid;
}

.contentBox table {
  @apply border-collapse rounded-2xl mx-auto my-10 w-[80%];
}

.contentBox th,
.contentBox td {
  @apply p-4 text-center;
}

.contentBox .top-space {
  @apply mt-10;
}

.contentBox ol,
.contentBox li {
  @apply list-decimal list-inside text-gray-700 p-4;
}
